/__pycache__
.vscode
/docker/context
/docker/into_noetic_foxy.sh
/docker/failed_trials
/home/cogmodel/Desktop/vlsat_yolov8_seg_ros2/yolov8_seg_ros2/launch/__pycache__
/home/cogmodel/Desktop/vlsat_yolov8_seg_ros2/media
/home/cogmodel/Desktop/vlsat_yolov8_seg_ros2/yolov8_seg_ros2/__pycache__
/home/cogmodel/Desktop/vlsat_yolov8_seg_ros2/weights
/home/cogmodel/Desktop/vlsat_yolov8_seg_ros2/yolov8_seg_ros2/__pycache__
/home/cogmodel/Desktop/vlsat_yolov8_seg_ros2/yolov8_seg_ros2/img_for_report
/home/cogmodel/Desktop/vlsat_yolov8_seg_ros2/yolov8_seg_ros2/img_for_report_res_N
/home/cogmodel/Desktop/vlsat_yolov8_seg_ros2/yolov8_seg_ros2/img_for_report_res_S
/home/cogmodel/Desktop/vlsat_yolov8_seg_ros2/yolov8_seg_ros2/img_for_report_res_M
/home/cogmodel/Desktop/vlsat_yolov8_seg_ros2/yolov8_seg_ros2/inf_yolov8_vis.py
/home/cogmodel/Desktop/vlsat_yolov8_seg_ros2/yolov8_seg_ros2/camera_2023-06-30-08-58-37_2
/home/cogmodel/Desktop/vlsat_yolov8_seg_ros2/bags/rosbag2_3d_segm
/home/cogmodel/Desktop/vlsat_yolov8_seg_ros2/yolov8_seg_ros2/yolov8_seg_ros2/vlsat/3dssg_best_ckpt
/home/cogmodel/Desktop/vlsat_yolov8_seg_ros2/vlsat_inference