__pycache__
.vscode
/docker/context
/docker/into_noetic_foxy.sh
/docker/failed_trials
/yolov8_seg_ros2/media
/yolov8_seg_ros2/yolov8_seg_ros2/__pycache__
/yolov8_seg_ros2/weights
/yolov8_seg_ros2/yolov8_seg_ros2/__pycache__
